.service{
    /* background-color: rgb(226, 241, 241); */
    border: 2px solid gray;
    border-radius:2px ;
}
.service img{
    width: 100%;
}

.service-cart img:hover{
    transform: scale(1.2);
    transition: 1s;
}