.icon-color{
    color: white;
}
.rating{
    
    /* background-image: linear-gradient(blue,cyan); */
    background-image: linear-gradient(orange,tomato);
}
.textColor{
    color: white;
}

.review-transform:hover{
    transform: scale(1.1);
    transition: 1s;
}